.Foto2{
    width: 22em;
}
.Box2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.Box3{
    height: 580px;
    width: 580px;
    background-image: url(Tinta2.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box4{
    width: 80%;
}
.TextoMeu{
    color: white;
    font-size: 2em;
    text-align: center;
}
@media screen and (max-width: 1024px){
    .Foto2{
        width: 20em;
    }
    .Box3{
        height: 550px;
        width: 550px;
    }
    .TextoMeu{
        font-size: 2em;
    }
}
@media screen and (max-width: 900px){
    .Box3{
        height: 500px;
        width: 500px;
    }
}
@media screen and (max-width: 800px){
    .Foto2{
        width: 20em;
    }
    .Box2{
        flex-direction: column;
        gap: 20px;
    }
    .Box3{
        height: 700px;
        width: 700px;
        margin: 15px;
    }
    .TextoMeu{
        font-size: 2.7em;
    }
}
@media screen and (max-width: 750px){
    .Box3{
        height: 700px;
        width: 700px;
    }
    .TextoMeu{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 600px){
    .Foto2{
        width: 15em;
    }
    .Box2{
        flex-direction: column;
        gap: 20px;
    }
    .Box3{
        height: 500px;
        width: 500px;
    }
    .TextoMeu{
        font-size: 1.8em;
    }
}
@media screen and (max-width: 414px) {
    .Foto2{
        width: 13em;
    }
    .Box2{
        flex-direction: column;
        gap: 20px;
    }
    .Box3{
        height: 450px;
        width: 450px;
    }
    .TextoMeu{
        font-size: 1.7em;
    }
}
@media screen and (max-width: 360px){
    .Foto2{
        width: 12em;
    }
    .Box2{
        flex-direction: column;
        gap: 20px;
    }
    .Box3{
        height: 400px;
        width: 400px;
    }
    .TextoMeu{
        font-size: 1.6em;
    }
}
@media screen and (max-width: 320px){
    .Foto2{
        width: 10em;
    }
    .Box2{
        flex-direction: column;
    }
    .Box3{
        height: 300px;
        width: 300px;
    }
    .TextoMeu{
        font-size: 1.2em;
    }
}