.BoxMihasArtes{
    height: 1000px;
    background-image: url(Fundo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center,center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.TextMinhasArtes{
    color: #05D7FE;
    font-size: 50px;
}
.BoxDiv{
    height: 700px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.DivImg{
    border-radius: 15px;
    background-color: rgb(0, 68, 255);
    border: 2px solid #05D7FE;
}
#img1{
    background-image: url(luffy.jpg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
#img2{
    background-image: url(bumblebee.jpg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
#img3{
    background-image: url(Tanjiro.jpeg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
}
#img4{
    background-image: url(Anya.jpeg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
}
#img5{
    background-image: url(Gojo.jpeg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
}
#img6{
    background-image: url(Zoro.jpeg);
    background-size: cover;
    background-position: center,center;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
}
@media screen and (max-width: 1024px){
    .BoxMihasArtes{
        height: 1100px;
    }
    .TextMinhasArtes{
        font-size: 60px;
    }
    .BoxDiv{
        width: 95%;      
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .DivImg{
        width: 15em;
        height: 21em;
    }
}
@media screen and (max-width: 800px){
    .BoxMihasArtes{
        height: 1200px;
    }
    .TextMinhasArtes{
        font-size: 60px;
    }
    .BoxDiv{
        width: 95%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 14em;
        height: 21em;
    }
}
@media screen and (max-width: 751px){
    .BoxMihasArtes{
        height: 1500px;
    }
    .TextMinhasArtes{
        font-size: 60px;
    }
    .BoxDiv{
        width: 95%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 13em;
        height: 20em;
    }
}
@media screen and (max-width: 600px){
    .BoxMihasArtes{
        height: 1000px;
    }
    .TextMinhasArtes{
        font-size: 50px;
    }
    .BoxDiv{
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 11em;
        height: 20em;
    }
}
@media screen and (max-width: 570px){
    .BoxMihasArtes{
        height: 1100px;
    }
    .TextMinhasArtes{
        font-size: 50px;
    }
    .BoxDiv{
        width: 95%;
        height: 75%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 10em;
        height: 15em;
    }
}
@media screen and (max-width: 414px){
    .BoxMihasArtes{
        height: 1100px;
    }
    .TextMinhasArtes{
        font-size: 50px;
    }
    .BoxDiv{
        width: 100%;
        height: 75%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 11em;
        height: 16em;
    }
}
@media screen and (max-width: 390px){
    .BoxMihasArtes{
        height: 1000px;
        align-items: center;
    }
    .TextMinhasArtes{
        font-size: 40px;
    }
    .BoxDiv{
        width: 100%;
        height: 75%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 10em;
        height: 14em;
    }
}
@media screen and (max-width: 360px){
    .BoxMihasArtes{
        height: 1000px;
        align-items: center;
    }
    .TextMinhasArtes{
        font-size: 40px;
    }
    .BoxDiv{
        width: 100%;
        height: 75%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 9em;
        height: 14em;
    }
}
@media screen and (max-width: 320px){
    .BoxMihasArtes{
        height: 1000px;
    }
    .TextMinhasArtes{
        font-size: 40px;
    }
    .BoxDiv{
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .DivImg{
        width: 8.5em;
        height: 12em;
    }
}